.divBorder{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;

   }

.divGraph{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque
}
.divBorder1{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
   }
.divmask{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: 600px;
    margin: 2px;
   }
.divimg{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: 600px;
    margin:2px
}
.divgraph{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: 600px;
    margin:2px
}

.divHeader{
    border: 2px solid black;
    padding: 10px;
    width: auto;
    background-color: bisque;
    margin :10px;
    background-color: darkseagreen;
    padding: 10px;
    align-content: center;
   }

.divServer{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    margin :10px 
}

.buttons{
    border: 2px solid black;
    padding: 10px;
    background-color: bisque;
    margin :10px 
}

.divbig{
    border: 2px solid black;
    padding :10px ;
    background-color: skyblue;
    height: 630px;
    width: auto;
    margin:10px
}

.divmarks{
    border: 2px solid black;
    padding: 10px;
    width: auto;
    background-color: aquamarine;
    margin: 10px;
}
/* .div1{, className='div1')
    /* padding :10px ; */
    /* background-color: beige;
    width: 100%;
} */ */
/* body {
    margin: 0;

    
} */
.div1{
    border: 1px solid black;
}
.divcol{
    border: 2px;
    border-color: black;
}

.divfooter{
    border: 2px solid black;
    padding: 10px;
    width: auto;
    background-color: rgb(129, 224, 224);
    margin: 10px;
}